/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.contenedor{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 50px; /* Agrega margen a la derecha de la lista de enlaces */
}

.nav-logo {
  margin-right: 20px;
  margin-left: 20px; /* Ajusta el margen izquierdo negativo para mover el logo a la derecha */
}

.nav-link {
  margin: 0 5px;
  display: block;
}
.page-content {
  margin-top: 100px; /* Ajusta el valor según la altura de tu barra de navegación */
}

/* Estilos para la página Acerca de */
.about-page {
  margin-top: 100px;
  padding: 50px;
}

.about-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Agrega más estilos según tus preferencias */


nav a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  transition: color 0.3s, font-size 0.3s;
  font-size: 23px;
  font-family: 'Arial', sans-serif;
}

nav a:hover {
  color: #603366;
  font-weight: bold;
  font-size: 25px;
}

nav img {
  max-width: 320px;
  height: auto;
}
