@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  /* Ajusta tamaños de fuente, márgenes, etc. */
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* Estilos para tabletas */
}

@media (min-width: 1201px) {
  /* Estilos para pantallas de escritorio */
}

  .app {
    text-align: center;
  }
  
  .index {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 600px;
  }
  
  /* Resto de tus estilos aquí */
  
  
  header {
    color: #603366;
    padding: 1rem;
  }
  
  main {
    padding: 1rem;
  }
  
  button {
    background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  